[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pynntp"
version = "1.0.4"
authors = [
  { name="Byron Platt", email="byron.platt@gmail.com" },
]
description = "NNTP Library (including compressed headers)"
readme = "README.md"
requires-python = ">=2.7.9, !=3.0.*, !=3.1.*"
dependencies = [
    "python-dateutil",
]
classifiers = [
    "Programming Language :: Python :: 2",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Topic :: Communications :: Usenet News",
]
